<form class="pure-form pure-form-aligned" action="/videos" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="url">URL</label>
            <input class="pure-input-1-3 id="url" name="url" type="text">
        </div>

        <div class="pure-controls">
            <label class="pure-checkbox" for="cb">
                <input id="cb" name="cb" type="checkbox"> Add another
            </label>

            <button class="pure-button pure-button-primary" type="submit">Submit</button>
        </div>
    </fieldset>
</form>